@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway', sans-serif;}
   

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}